## Ignore rda file
*.Rda
*.rda

## Ignore the tables and figures for now
Manuscript/Tables/*.tex
Manuscript/Figures/*.pdf
*.pdf

## Ignore .Rapp.histories
.Rhistory
*.Rapp.history
*.RData


## Ignore compiled files (html)
*.html

## Ignore ply and surface files
*.ply
*.stl
